/*Creats the Flex-Boxes for the graphs and sliders locations*/

.parameters {
    border-radius: 9px;
    width: 250px;
    text-align: left;
    font-size: 10px;
}

.parameters > * {
    gap: 100px;
}
.box {
    width: 1500px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: flex-start;
}

.graphs {
    flex-grow: 1;
    right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 0px;
}

.first_line_graphs {
    display: flex;
    flex-direction: row;
}




