/*Creats the Flex-Boxes for the graphs and sliders locations*/

.box > * {
    /*border: 2px solid rgb(209, 223, 11);*/
    border-radius: 9px;
    width: 150px;
    text-align: left;
    font-size: 9px;
}
.box {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    /*border: 2px solid rgb(209, 223, 11);*/
}

